@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:700');
/* RalewayBold */
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
/* Raleway EXTRA Bold */
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Raleway Regular */


html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;

  border-bottom: none;
  -webkit-text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background-color: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: raleway-grid, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  opacity: 1;
  color: #333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.main-header {
  position: relative;
  min-height: 100vh;
  background: url(../img/0-header.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: .92;
  background-color: #293a43;
}

.header-content {
  z-index: 1;
  padding: 60px 20px;
  text-align: center;
  color: #fff;
}

.header-content h1 {
  font-family: intro-grid, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0;
}

.header-content .button {
  margin: 10px;
}

.button {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  padding: 10px 60px;
  cursor: pointer;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: 0;
  background-color: #f0650d;
}

.button::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  opacity: .18;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #000;
}

.button:focus,
.button:hover {
  text-decoration: none;

  color: #fff;
}

.button:hover {
  background-color: #f37423;
}

.button:hover::after {
  opacity: .22;
}

.button:active {
  background-color: #d85b0c;
}

.button:active::after {
  opacity: .32;
}

.button.button-gray {
  background: #4b5a65;
}

.button.button-gray::after {
  background: #2a3339;
}

.button.button-gray:hover {
  background: #566774;
}

.button.button-gray:hover:after {
  opacity: .22;
}

.button.button-gray:active {
  background: #404d56;
}

.button.button-gray:after {
  opacity: .32;
}

.portfolio-section {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.portfolio-item {
  min-height: 32vh;
  text-align: center;
  align-content: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: relative;
  transition: color .5s ease;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  cursor: pointer;

}

.portfolio-item:hover {
  color: #F0650D;

}

.portfolio-item:hover::before {
  opacity: .85;
}

.portfolio-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #293A43;
  opacity: .65;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.portfolio-item span {
  z-index: 1;
}

.portfolio-item:nth-child(1) {
  background: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
}

.portfolio-item:nth-child(2) {
  background: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(3) {
  background: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(4) {
  background: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(5) {
  background: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
}

.portfolio-item:nth-child(6) {
  background: url(../img/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.portfolio-item:nth-child(7) {
  background: url(../img/7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(8) {
  background: url(../img/8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-item:nth-child(9) {
  background: url(../img/9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 3/5;
}

.buttoncase {
  grid-column: 1 / 5;
  padding: 20px 20px 50px;
}

.section-ready{
  background-color: #EDEDED;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.landing-section {
  padding: 80px 0;

}

.landing-section h2 {
  font-size: 34px;
  font-weight: bold;
  color: #293A43;
  line-height: 1.2;
}

.section-ready .container {
  grid-template-columns: 1fr 1fr;
}

.ready-left{
  border-right: 1px solid #dadada;
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
}

.ready-left h2{
  margin: 0;
  margin-bottom:40px;
}